body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div, input {
  box-sizing: border-box;
}
input, button {
  -webkit-appearance: none;
  outline: none;
  border: none;
}
button:hover {
  cursor: pointer;
}