.results {
  margin-top: 25px;
  overflow: scroll;
  height: calc(100vh - 180px);
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @media (max-width: 480px) {
    width: calc(100vw - 10%);
    position: fixed;
    bottom: 0;
    height: 150px;  
  }
}